* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

/*Flex CSS*/

$flex: flex, inline-flex;
@each $value in $flex{
    .d-#{$value}{
        display:  $value;
    }
}

$justify: start, center, end, space-around, space-between, space-evenly;
@each $value in $justify{
    .justify-#{$value}{
        justify-content:  $value;
    }
}

$align-items: start, center, end, space-around, space-between, space-evenly;
@each $value in $align-items{
    .align-#{$value}{
        align-items:  $value;
    }
}